extends layout

block content
  div.container
    h1(class='text-center mb-4', style='color: #3498db;') #{title}
    if (toShow == null)
      h2 No instance to delete
    else
      - let id = toShow._id
      - let subject  = toShow.subject
      - let grade = toShow.grade
      - let marks = toShow.marks
      div.card
        div.card-body
          div.row.mb-3
            div.col-md-6
              strong(class='educationAttr') Education ID:   
              span.ml-2 #{id}
            div.col-md-6
              strong(class='educationAttr') Education Subject:   
              span.ml-2 #{subject}

          div.row.mb-3
            div.col-md-6
              strong(class='educationAttr') Education Grade:  
              span.ml-2 #{grade}
            div.col-md-6
              strong(class='educationAttr') Education Marks:  
              span.ml-2 #{marks}

      
      
